.menu {
  position: relative;
}
.menu-scroll {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 35px 0;
}
.menu-scroll__item {
  padding: 15px 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  &:not(:last-child) {
    margin-right: 8px;
  }
  &:nth-child(1) {
    background-color: blue;

    & a {
      color: yellow;
    }
  }
  &:nth-child(2) {
    background-color: yellow;

    & a {
      color: blue;
    }
  }
  &:nth-child(3) {
    background-color: turquoise;

    & a {
      color: blue;
    }
  }
}
.go-to-top {
  display: inline-block;
  position: fixed;
  top: 80%;
  left: 0;
  padding: 15px 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: yellow;
  z-index: 99;
}

.main {
  width: 100%;
}
#ex1 {
  background-color: blue;
}

#ex2 {
  background-color: yellow;
}
#ex3 {
  background-color: turquoise;
}
.title {
  margin: 0 auto;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 50px;
}
/****slider****/

.slick-slide img {
  margin: 0 auto;
  width: 100%;
  height: 550px;
  object-fit: cover;
}
.my-dots {
  position: absolute;
  bottom: -15px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}

.my-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.my-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.my-dots li button:hover,
.my-dots li button:focus {
  outline: none;
}

.my-dots li button:hover:before,
.my-dots li button:focus:before {
  opacity: 1;
}

.my-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: url('https://upload.wikimedia.org/wikipedia/commons/b/b7/Rule_Segment_-_Circle_open_-_20px.svg');
  text-align: center;
  opacity: 0.25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.my-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}
