
<nav id="menu">
   <ul class="menu-scroll">
       <li class="menu-scroll__item"><a href="#ex1">Link #1</a></li>
       <li class="menu-scroll__item"><a href="#ex2">Link #2</a></li>
       <li class="menu-scroll__item"><a href="#ex3">Link #3</a></li>
  </ul>
</nav>
<a class="go-to-top" href="#menu">Link #1</a>


<h1 class="title ">Slick Slider</h1>
<div class="one-time">
  
  <div  class="img-slider">
    <img src="https://loremflickr.com/600/450/dog?random=6" alt="kot">
    
</div>
  <div>
      <img src="https://loremflickr.com/600/450?random=5" alt="kot">
  </div>
  <div>
    <img src="https://loremflickr.com/600/450?random=1" alt="kot">
   
  </div>
  <div>
    <img src="https://loremflickr.com/600/450?random=2" alt="kot">
    
  </div>
  <div>
    <img src="https://loremflickr.com/600/450?random=3" alt="kot">
    
  </div>
  <div>
    <img src="https://loremflickr.com/600/450?random=4" alt="kot">
    
  </div>
</div>

<h2>Smooth Scroll</h2>
<div class="content" >
<div class="main" id="ex1">
  <h2 class="title">Section 1</h2>
  <p>Натисніть на посилання, а потім відкрийте ефект «плавного» прокручування.</p>
  <a href="#ex2">Клацніть «Мене», щоб плавно перейти до розділу 2 нижче</a>
  <p>  Примітка. Видаліть властивість scroll-behavior, щоб видалити плавне прокручування.</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque, aspernatur ex officiis deleniti nesciunt at facere quas quod iste perspiciatis possimus ipsa, molestias omnis sit nihil recusandae minus laborum rem? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint placeat quibusdam nam provident sunt itaque officia, dolores explicabo debitis pariatur at doloremque ea numquam consectetur vero reprehenderit soluta labore a?
  Eaque magnam voluptatum ipsum officia veritatis saepe dicta quibusdam reprehenderit omnis nam, dolores magni impedit maxime. Sequi dignissimos, eos repellendus quidem consequuntur laboriosam reprehenderit nihil amet, dolores illum cum explicabo?
  Soluta itaque eos perspiciatis pariatur ipsum dolor laboriosam vel consectetur recusandae id doloribus cumque tempora tenetur nam nemo, praesentium, nobis est vitae aspernatur quaerat ipsam sapiente modi minus culpa? Incidunt.
  Quam magnam quasi necessitatibus ex suscipit nostrum temporibus voluptatum, maiores excepturi sapiente. Eius, nobis! Similique in cumque illo totam earum fuga nobis sunt modi, laborum doloribus. Reprehenderit, eius? In, distinctio.
  Veniam harum officia enim similique quos perspiciatis ullam asperiores dolorum, recusandae deleniti rerum delectus! Ratione doloribus minus explicabo, ipsam quis maiores sequi tempora at labore error, voluptatibus architecto. Facilis, maiores?
  Labore quas laborum repellat quis. Consectetur expedita illo quis! Ea, quos excepturi, distinctio deleniti debitis placeat facere voluptas eaque fugiat quasi quis harum exercitationem obcaecati dolor nihil natus reprehenderit officia.
  Repellendus vero voluptatum porro voluptates animi qui quis voluptatem, accusamus cum, rem ipsa illum nulla perferendis quam fuga itaque officia labore incidunt voluptatibus dolorum non eveniet. Incidunt consequuntur soluta quisquam.
  Excepturi vitae nisi omnis, vel velit quidem exercitationem repudiandae quas cum maiores libero iure blanditiis unde, ipsam voluptatem ducimus suscipit. Quam nam suscipit beatae porro laboriosam sit facere autem delectus!
  Praesentium repudiandae deleniti incidunt quod. Ea nostrum quos accusamus esse inventore nobis consectetur ut velit corporis. Quibusdam, ipsam aperiam. Ullam at saepe ipsam! Consequuntur hic vel odio nam nesciunt labore!
  Neque natus est non laboriosam exercitationem error autem saepe, consectetur quo voluptas a ullam expedita nostrum quam perferendis similique velit iusto vero veniam eaque. Ipsum fugiat perspiciatis reiciendis nostrum ratione.</p>
</div>

<div class="main" id="ex2">
  <h2 class="title">Section 2</h2>
  <a href="#ex3">Клацніть «Мене», щоб плавно перейти до розділу 3 нище</a>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque, aspernatur ex officiis deleniti nesciunt at facere
  quas quod iste perspiciatis possimus ipsa, molestias omnis sit nihil recusandae minus laborum rem? Lorem, ipsum dolor
  sit amet consectetur adipisicing elit. Sint placeat quibusdam nam provident sunt itaque officia, dolores explicabo
  debitis pariatur at doloremque ea numquam consectetur vero reprehenderit soluta labore a?
  Eaque magnam voluptatum ipsum officia veritatis saepe dicta quibusdam reprehenderit omnis nam, dolores magni impedit
  maxime. Sequi dignissimos, eos repellendus quidem consequuntur laboriosam reprehenderit nihil amet, dolores illum cum
  explicabo?
  Soluta itaque eos perspiciatis pariatur ipsum dolor laboriosam vel consectetur recusandae id doloribus cumque tempora
  tenetur nam nemo, praesentium, nobis est vitae aspernatur quaerat ipsam sapiente modi minus culpa? Incidunt.
  Quam magnam quasi necessitatibus ex suscipit nostrum temporibus voluptatum, maiores excepturi sapiente. Eius, nobis!
  Similique in cumque illo totam earum fuga nobis sunt modi, laborum doloribus. Reprehenderit, eius? In, distinctio.
  Veniam harum officia enim similique quos perspiciatis ullam asperiores dolorum, recusandae deleniti rerum delectus!
  Ratione doloribus minus explicabo, ipsam quis maiores sequi tempora at labore error, voluptatibus architecto. Facilis,
  maiores?
  Labore quas laborum repellat quis. Consectetur expedita illo quis! Ea, quos excepturi, distinctio deleniti debitis
  placeat facere voluptas eaque fugiat quasi quis harum exercitationem obcaecati dolor nihil natus reprehenderit
  officia.
  Repellendus vero voluptatum porro voluptates animi qui quis voluptatem, accusamus cum, rem ipsa illum nulla
  perferendis quam fuga itaque officia labore incidunt voluptatibus dolorum non eveniet. Incidunt consequuntur soluta
  quisquam.
  Excepturi vitae nisi omnis, vel velit quidem exercitationem repudiandae quas cum maiores libero iure blanditiis unde,
  ipsam voluptatem ducimus suscipit. Quam nam suscipit beatae porro laboriosam sit facere autem delectus!
  Praesentium repudiandae deleniti incidunt quod. Ea nostrum quos accusamus esse inventore nobis consectetur ut velit
  corporis. Quibusdam, ipsam aperiam. Ullam at saepe ipsam! Consequuntur hic vel odio nam nesciunt labore!
  Neque natus est non laboriosam exercitationem error autem saepe, consectetur quo voluptas a ullam expedita nostrum
  quam perferendis similique velit iusto vero veniam eaque. Ipsum fugiat perspiciatis reiciendis nostrum ratione.</p>

</div>
<div class="main" id="ex3">
  <h2 class="title">Section 3</h2>
  <a href="#ex1">Клацніть «Мене», щоб плавно перейти до розділу 1 </a>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque, aspernatur ex officiis deleniti nesciunt at facere
    quas quod iste perspiciatis possimus ipsa, molestias omnis sit nihil recusandae minus laborum rem? Lorem, ipsum
    dolor
    sit amet consectetur adipisicing elit. Sint placeat quibusdam nam provident sunt itaque officia, dolores explicabo
    debitis pariatur at doloremque ea numquam consectetur vero reprehenderit soluta labore a?
    Eaque magnam voluptatum ipsum officia veritatis saepe dicta quibusdam reprehenderit omnis nam, dolores magni impedit
    maxime. Sequi dignissimos, eos repellendus quidem consequuntur laboriosam reprehenderit nihil amet, dolores illum
    cum
    explicabo?
    Soluta itaque eos perspiciatis pariatur ipsum dolor laboriosam vel consectetur recusandae id doloribus cumque
    tempora
    tenetur nam nemo, praesentium, nobis est vitae aspernatur quaerat ipsam sapiente modi minus culpa? Incidunt.
    Quam magnam quasi necessitatibus ex suscipit nostrum temporibus voluptatum, maiores excepturi sapiente. Eius, nobis!
    Similique in cumque illo totam earum fuga nobis sunt modi, laborum doloribus. Reprehenderit, eius? In, distinctio.
    Veniam harum officia enim similique quos perspiciatis ullam asperiores dolorum, recusandae deleniti rerum delectus!
    Ratione doloribus minus explicabo, ipsam quis maiores sequi tempora at labore error, voluptatibus architecto.
    Facilis,
    maiores?
    Labore quas laborum repellat quis. Consectetur expedita illo quis! Ea, quos excepturi, distinctio deleniti debitis
    placeat facere voluptas eaque fugiat quasi quis harum exercitationem obcaecati dolor nihil natus reprehenderit
    officia.
    Repellendus vero voluptatum porro voluptates animi qui quis voluptatem, accusamus cum, rem ipsa illum nulla
    perferendis quam fuga itaque officia labore incidunt voluptatibus dolorum non eveniet. Incidunt consequuntur soluta
    quisquam.
    Excepturi vitae nisi omnis, vel velit quidem exercitationem repudiandae quas cum maiores libero iure blanditiis
    unde,
    ipsam voluptatem ducimus suscipit. Quam nam suscipit beatae porro laboriosam sit facere autem delectus!
    Praesentium repudiandae deleniti incidunt quod. Ea nostrum quos accusamus esse inventore nobis consectetur ut velit
    corporis. Quibusdam, ipsam aperiam. Ullam at saepe ipsam! Consequuntur hic vel odio nam nesciunt labore!
    Neque natus est non laboriosam exercitationem error autem saepe, consectetur quo voluptas a ullam expedita nostrum
    quam perferendis similique velit iusto vero veniam eaque. Ipsum fugiat perspiciatis reiciendis nostrum ratione.</p>

</div>
</div>